    <!-- PAGE | BLOG -->
    <div class="pages page-blog" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
            </header>
            <!-- End Header -->
            <div class="row-fluid">
                <div class="blog-details">
                    <!-- Article -->
                    <article>
                        $if(showdeadcode)$
                        <!-- Blog image -->
                        <img src="http://placehold.it/900x450"> 
                        $endif$
                        <!-- Blog title -->
                        <h5>
                            $title$<br/>
                            <small>$date$, in $tags$
                            </small>
                        </h5>
                        
                        <!-- Blog post description -->
                        $body$
                        
                    </article>
                    <!-- End Article -->

                </div>
            </div>
        </div>
    </div>
