$for(blogs)$

<div class="row">
  <br>
  <div class="col-xs-12 col-md-9">
    <h3><a href="$url$">$title$</a></h3>
      <ul class="list-inline"><li>$date$</li><li>$category$</li></ul>
$if(teaser)$
$teaser$
$else$
$body$
$endif$
                        
$if(teaser)$
      <p class="lead"><a href="$url$" class="btn btn-default">Read More</a></p>
$endif$
 
  </div>
  <div class="col-md-3"></div>
  <br><br>
</div>
$endfor$

                    <!-- Pagination -->
                    <div class="pagination center">
                        <ul>
                            <li>
$if(firstPageUrl)$
                            <a href="$firstPageUrl$">First</a>
$else$
                            <a class="disable-link" href="#">First</a>
$endif$
                            </li>
                            <li>
$if(previousPageUrl)$
                            <a href="$previousPageUrl$">Prev</a>
$else$
                            <a class="disable-link" href="#">Prev</a>
$endif$
                            </li>
                            <li><a class="no-link" href="#">$currentPageNum$ of $numPages$</a></li>
                            <li>
$if(nextPageUrl)$
                            <a href="$nextPageUrl$">Next</a>
$else$
                            <a class="disable-link" href="#">Next</a>
$endif$
                            </li>
                            <li>
$if(lastPageUrl)$
                            <a href="$lastPageUrl$">Last</a>
$else$
                            <a class="disable-link" href="#">Last</a>
$endif$
                            </li>
                        </ul>
                    </div>
